.shades-container {
  width: 100%;
  height: 40%;

  display: flex;
  justify-content: space-between;

  .shade-card {
    overflow: hidden;
    width: 110px;
    height: 110px;
    border: 1px solid red;
    border-radius: 5px;

    .color-display {
      width: 100%;
      height: 83%;
    }

    .color-title-container {
      box-sizing: border-box;
      background: #fdfdfd;
      width: 100%;
      height: 17%;
      font-size: 1.6rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 20px;
      position: relative;
      color: #363d3c;
      font-family: "Source Sans Pro", serif;
    }
  }
}
